ion-footer{
  padding: 7px 15px;
  background: var(--header-bg);
  margin-top: -1px;
}
ion-button{
  height: 50px;
  background-color: var(--main-color);
  border-radius: 10px;
  margin: 0;
  color: var(--btn-text);
  font-weight: 600;
  font-size: 16px;
}
.scroll-content {
  margin-bottom: 0!important;
}
ion-text{
  color: var(--btn-text);
}
.footer-md::before {
  display: none;
}
.footer-ios::before {
  display: none;
}
.footer-ios::after {
  display: none;
}
ion-button::part(native) {
  background: var(--main-color);
  box-shadow: none;
}
.cart_btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceprod{
  background-color: var(--basket-bottom-price-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 37px;
  min-width: 75px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 15px;
  color: var(--basket-bottom-price-text);
  border-radius: 7px;
}
.clear-basket {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: var(--body-text);
}
.checkout_btn{
  margin-right: 10px;
  margin-left: auto;
}
