ion-icon.header_svg {
  font-size: 22px;
  color: var(--header-account-text-svg);
  border-radius: 10px;
  background-color: var(--main-color);
  padding: 7px;
}

ion-buttons{
  --color:var(--header-text);
}
ion-menu-button {
  width: 36px;
  height: 36px;
  margin-left: 4px;
}
.block_btns{
  display: flex;align-items: center
}
//.button-native{
//  padding-inline-start: 5px!important;
//  padding-inline-end: 5px!important;
//}
.block_btns ion-button::part(native) {
  padding-inline-start: 0;
  padding-inline-end: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
ion-menu-button::part(native) {
  padding-inline-start: 0;
  padding-inline-end: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
ion-icon.header_menu {
  font-size: 22px;
  min-width: 20px;
  color: var(--header-btn-svg);
  border-radius: 4px;
  background-color: var(--main-color);
  padding: 7px;
}
ion-toolbar {
  --background:var(--header-bg);
  margin-bottom: -1px;
}
ion-title{
  padding-inline-start: 0!important;
}
ion-button{
  width: 36px;
  height: 36px;
}
ion-toolbar{
  padding-right: 10px;
}
