.order__box{
  border-radius: 10px;
  padding: 30px 20px;
  background-color: var(--order-box-bg);
  border: 2px solid var(--order-box-border);
}
.order__box-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--order-box-title);
}
.errormess ion-text{
  background: var(--order-box-bg);
}
.phone-code{
  font-size: 14px;
  color: var(--text-content-color);
}
.send-validation-code {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 10px;
  background: var(--body-bg);
  border-radius: 10px;
  cursor: pointer;
}
.login-methods {
  display: flex;
}
