:root {
  --basket-svg-hover: #fff;
  --loader-btn: #fff;
  --disabled-btn: #ECEAE7;
  --disabled-btn-text: #060606;
  --second-btn: #ECEAE7;
  --second-btn-text: #060606;
  --progress-line: #F5F4F2;
  --slider-pagination-bg: #F5F4F2;
  --text-content-color: #A59F97;
  --tab-active: #060606;
  --tab-deault: #A59F97;
  --no-img-bg: #F5F4F2;
  --block-wrapper-bg: #fff;
  --block-head-border: #F5F4F2;
  --title: #060606;
  --present-bg: #F5F4F2;
  --order-box-bg: #fff;
  --order-box-title: #060606;
  --order-box-border: #fff;
  --body-bg: #F5F4F2;
  --placeholder: #A59F97;
  --modal-title: #060606;
  --input-color: #060606;
  --bonuce-span: #060606;
  --breadcrumsColorLi: #A59F97;
  --breadcrumsColorLink: #060606;
  --breadcrumsColorFigure: #A59F97;
  --bg-checkbox: #F5F4F2;
  --border-checkbox: #E1E0DE;
  --bg-checked-checkbox: #D9BB96;
  --bg-checked-radio-circle: #fff;
  --icon-close: #D9BB96;
  --modal-bg: #fff;
  --main-color: #D9BB96;
  --header-bg: #F5F4F2;
  --header-border: #E1E0DE;
  --header-address-border: #E1E0DE;
  --header-account-text-svg: #fff;
  --header-btn-svg: #fff;
  --header-icon-hover: #fff;
  --header-icon-svg-hover: #060606;
  --header-text: #060606;
  --banner-categories-bg: #F5F4F2;
  --category-text: #060606;
  --category-bg: #ECEAE7;
  --category-svg-hover: #fff;
  --category-active-text: #fff;
  --category-active-bg: #D9BB96;
  --categories-btn-border: #E1E0DE;
  --categories-btn-text-hover: #fff;
  --categories-btn-svg: #D9BB96;
  --categories-btn-text: #060606;
  --products-bg: #F5F4F2;
  --product-bg: #fff;
  --product-name-price: #060606;
  --product-add-text: #fff;
  --body-text: #A59F97;
  --product-box-name: #060606;
  --product-active-border: #D9BB96;
  --product-box-count-bg: #D9BB96;
  --product-box-cont-text: #fff;
  --footer-border: #E1E0DE;
  --footer-bg: #F5F4F2;
  --footer-svg: #060606;
  --footer-svg-hover: #fff;
  --footer-menu-link: #060606;
  --footer-text: #060606;
  --footer-link-box-bg: #ECEAE7;
  --basket-bg: #fff;
  --basket-switch-btn-bg: #F5F4F2;
  --basket-switch-btn-text: #060606;
  --basket-switch-btn-active-text: #fff;
  --basket-item-name: #060606;
  --basket-top-border: #F5F4F2;
  --basket-address: #060606;
  --quantity-control-bg: #ECEAE7;
  --quantity-control-line: #060606;
  --quantity-control-line-hover: #fff;
  --quantity-control-text: #060606;
  --basket-bottom-price-bg: #fff;
  --basket-bottom-price-text: #383838;
  --btn-hover: #060606;
}
