:root {
  --basket-svg-hover: #fff;
  --loader-btn: #fff;
  --disabled-btn: #393939;
  --disabled-btn-text: #fff;
  --second-btn: #393939;
  --second-btn-text: #fff;
  --progress-line: #393939;
  --slider-pagination-bg: #393939;
  --text-content-color: #C2C2C2;
  --tab-active: #fff;
  --tab-deault: #C2C2C2;
  --no-img-bg: #393939;
  --block-wrapper-bg: #2F2F2F;
  --block-head-border: #393939;
  --title: #fff;
  --present-bg: #393939;
  --order-box-bg: #2F2F2F;
  --order-box-title: #fff;
  --order-box-border: #2F2F2F;
  --body-bg: #212121;
  --placeholder: #C2C2C2;
  --modal-title: #fff;
  --input-color: #fff;
  --bonuce-span: #fff;
  --breadcrumsColorLi: #C2C2C2;
  --breadcrumsColorLink: #fff;
  --breadcrumsColorFigure: #C2C2C2;
  --bg-checkbox: #393939;
  --border-checkbox: #393939;
  --bg-checked-checkbox: #D7909C;
  --bg-checked-radio-circle: #fff;
  --icon-close: #D7909C;
  --modal-bg: #212121;
  --main-color: #D7909C;
  --header-bg: #212121;
  --header-address-border: #393939;
  --header-account-text-svg: #fff;
  --header-btn-svg: #fff;
  --header-text: #fff;
  --banner-categories-bg: #212121;
  --category-text: #fff;
  --category-bg: #393939;
  --category-active-text: #fff;
  --category-active-bg: #D7909C;
  --categories-btn-border: #2F2F2F;
  --categories-btn-svg: #D7909C;
  --categories-btn-text: #fff;
  --products-bg: #212121;
  --product-bg: #2F2F2F;
  --product-name-price: #fff;
  --product-add-text: #fff;
  --body-text: #C2C2C2;
  --product-box-name: #fff;
  --product-active-border: #D7909C;
  --product-box-count-bg: #D7909C;
  --product-box-cont-text: #fff;
  --footer-border: #2F2F2F;
  --footer-bg: #212121;
  --footer-menu-link: #fff;
  --footer-text: #fff;
  --footer-link-box-bg: #2F2F2F;
  --basket-bg: #2F2F2F;
  --basket-switch-btn-bg: #393939;
  --basket-switch-btn-text: #C2C2C2;
  --basket-switch-btn-active-text: #fff;
  --basket-item-name: #fff;
  --basket-top-border: #393939;
  --basket-address: #fff;
  --quantity-control-bg: #393939;
  --quantity-control-line: #fff;
  --quantity-control-text: #fff;
  --basket-bottom-price-bg: #D7909C;
  --basket-bottom-price-text: #fff;
}
