:root {
  --basket-svg-hover: #2a2e37;
  --loader-btn: #323741;
  --disabled-btn: #4a505b;
  --disabled-btn-text: #fff;
  --second-btn: #4a505b;
  --second-btn-text: #fff;
  --progress-line: #4a505b;
  --slider-pagination-bg: #4a4e57;
  --text-content-color: #fff;
  --tab-active: #fff;
  --tab-deault: #c9cbce;
  --no-img-bg: #22252d;
  --block-wrapper-bg: #323741;
  --block-head-border: #4a505b;
  --title: #fff;
  --present-bg: #323741;
  --order-box-bg: #323741;
  --order-box-title: #fff;
  --order-box-border: #323741;
  --body-bg: #2a2e37;
  --placeholder: #b6b9bd;
  --modal-title: #fff;
  --input-color: #fff;
  --bonuce-span: #fff;
  --breadcrumsColorLi: #c9cbce;
  --breadcrumsColorLink: #fff;
  --breadcrumsColorFigure: #ffffff;
  --bg-checkbox: #323741;
  --border-checkbox: #2a2e37;
  --bg-checked-checkbox: #f8e11e;
  --bg-checked-radio-circle: #323741;
  --icon-close: #f8e11e;
  --modal-bg: #3b414b;
  --main-color: #f8e11e;
  --header-bg: #2a2e37;
  --header-address-border: #4a505b;
  --header-account-text-svg: #2a2e37;
  --header-btn-svg: #2a2e37;
  --header-text: #fff;
  --banner-categories-bg: #323741;
  --category-text: #fff;
  --category-bg: #4a505b;
  --category-active-text: #2a2e37;
  --category-active-bg: #f8e11e;
  --categories-btn-border: #474d58;
  --categories-btn-svg: #f8e11e;
  --categories-btn-text: #c9cbce;
  --products-bg: #2a2e37;
  --product-bg: #323741;
  --product-name-price: #fff;
  --product-add-text: #23262d;
  --body-text: #b5b7bb;
  --product-box-name: #fff;
  --product-active-border: #f8e11e;
  --product-box-count-bg: #494f5a;
  --product-box-cont-text: #fff;
  --footer-border: #3d424c;
  --footer-bg: #2a2e37;
  --footer-menu-link: #fff;
  --footer-text: #fff;
  --footer-link-box-bg: #323741;
  --basket-bg: #3b414b;
  --basket-switch-btn-bg: #2a2e37;
  --basket-switch-btn-text: #c9cbce;
  --basket-switch-btn-active-text: #2a2e37;
  --basket-item-name: #fff;
  --basket-top-border: #494f5a;
  --basket-address: #fff;
  --quantity-control-bg: #fefefe;
  --quantity-control-line: #23262d;
  --quantity-control-text: #fff;
  --basket-bottom-price-bg: #fff;
  --basket-bottom-price-text: #383838;
}
