// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
:root {
  --background: #212121!important;
  --ion-text-color:#fff;
  --ion-font-family: "Source Sans Pro", sans-serif;
  --main-color: #D7909C;
  --modal-bg: #212121;
  --body-text: #C2C2C2;
  --header-bg: #212121;
  --header-account-text-svg: #fff;
  --header-address-border: #393939;
  --header-btn-svg: #fff;
  --header-text: #fff;
  --padding-start: 5px!important;
  --padding-end: 5px!important;
  --banner-categories-bg: #212121;
  --basket-top-border: #393939;
  --basket-item-name: #fff;
  --border-checkbox: #393939;
  --product-active-border: #D7909C;
  --bg-checked-checkbox: #D7909C;
  --bg-checkbox: #393939;
  --body-bg: #212121;
  --products-bg: #212121;
  --product-bg: #2F2F2F;
  --product-name-price: #fff;
  --placeholder: #C2C2C2;
  --category-bg: #393939;
  --category-text: #fff;
  --category-active-text: #fff;
  --category-active-bg: #D7909C;
  --color-checked: #D7909C;
  --product-box-name: #fff;
  --product-box-count-bg: #D7909C;
  --product-box-cont-text: #fff;
  --title: #fff;
  --text-content-color: #C2C2C2;
  --quantity-control-text: #fff;
  --quantity-control-bg: #393939;
  --quantity-control-line: #fff;
  --loader-btn: #fff;
  --icon-close: #D7909C;
  --block-wrapper-bg: #2F2F2F;
  --block-head-border: #393939;
  --order-box-bg: #2F2F2F;
  --order-box-title: #fff;
  --order-box-border: #2F2F2F;
  --input-color: #fff;
  --tab-active: #fff;
  --tab-deault: #C2C2C2;
  --present-bg: #393939;
  --basket-switch-btn-bg: #393939;
  --highlight-background: --main-color!important;
  --btn-text: #fff;
  /** primary **/
  --ion-color-primary: --main-color;
  --ion-color-primary-rgb: --main-color;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: --main-color;
  --ion-color-primary-tint: --main-color;

  /** secondary **/
  --ion-color-secondary: var(--main-color);
  --ion-color-secondary-rgb: var(--main-color);
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: var(--main-color);
  --ion-color-secondary-shade: transparent;
  --ion-color-secondary-tint: transparent;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  /** quantity **/
  --ion-color-quantity: var(--quantity-control-line);
  --ion-color-quantity-rgb: var(--quantity-control-line);
  --ion-color-quantity-contrast: #000000;
  --ion-color-quantity-contrast-rgb: 0, 0, 0;
  --ion-color-quantity-shade: var(--quantity-control-line);
  --ion-color-quantity-tint: var(--quantity-control-line);
  /** mainapp **/
  --ion-color-mainapp: var(--main-color);
  --ion-color-mainapp-rgb: var(--main-color);
  --ion-color-mainapp-contrast: #000000;
  --ion-color-mainapp-contrast-rgb: 0, 0, 0;
  --ion-color-mainapp-shade: var(--main-color);
  --ion-color-mainapp-tint: var(--main-color);
}
.ion-color-quantity {
  --ion-color-base: var(--ion-color-quantity);
  --ion-color-base-rgb: var(--ion-color-quantity-rgb);
  --ion-color-contrast: var(--ion-color-quantity-contrast);
  --ion-color-contrast-rgb: var(--ion-color-quantity-contrast-rgb);
  --ion-color-shade: var(--ion-color-quantity-shade);
  --ion-color-tint: var(--ion-color-quantity-tint);
}
.ion-color-mainapp {
  --ion-color-base: var(--ion-color-mainapp);
  --ion-color-base-rgb: var(--ion-color-mainapp-rgb);
  --ion-color-contrast: var(--ion-color-mainapp-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mainapp-contrast-rgb);
  --ion-color-shade: var(--ion-color-mainapp-shade);
  --ion-color-tint: var(--ion-color-mainapp-tint);
}
