<app-header title="Изменить данные" [isMain]="false" [isCart]="true"></app-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <div class="order__box">
        <form *ngIf="changeuser" [formGroup]="changeuser">
          <ion-row>
            <ion-col size="12">
              <div class="order__box-title">Имя</div>
              <ion-input formControlName="name" inputmode="text" maxlength="50" type="text"></ion-input>
              <div class="ion-padding-horizontal errormess" *ngFor="let validation of validationMessages.name">
                <div class="error-message"
                     *ngIf="changeuser.get('name').hasError(validation.type) && (changeuser.get('name').dirty || changeuser.get('name').touched)">
                  <ion-text color="primary">{{ validation.message }}</ion-text>
                </div>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="order__box-title">Фамилия</div>
              <ion-input formControlName="lastname" inputmode="text" maxlength="50" type="text"
                         [required]="false"></ion-input>
              <div class="ion-padding-horizontal errormess" *ngFor="let validation of validationMessages.lastname">
                <div class="error-message"
                     *ngIf="changeuser.get('lastname').hasError(validation.type) && (changeuser.get('lastname').dirty || changeuser.get('lastname').touched)">
                  <ion-text color="primary">{{ validation.message }}</ion-text>
                </div>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="order__box-title">Email</div>
              <ion-input formControlName="email" inputmode="email" maxlength="50" type="email"
                         [required]="false"></ion-input>
              <div class="ion-padding-horizontal errormess" *ngFor="let validation of validationMessages.email">
                <div class="error-message"
                     *ngIf="changeuser.get('email').hasError(validation.type) && (changeuser.get('email').dirty || changeuser.get('email').touched)">
                  <ion-text color="primary">{{ validation.message }}</ion-text>
                </div>
              </div>
            </ion-col>
            <ion-col size="12" *ngIf="gendershow">
              <div class="order__box-title">Пол</div>
              <ion-radio-group formControlName="gender">
                <ion-item lines="none">
                  <ion-label>Мужчина</ion-label>
                  <ion-radio slot="start" value="M"></ion-radio>
                </ion-item>
                <ion-item lines="none">
                  <ion-label>Женщина</ion-label>
                  <ion-radio slot="start" value="W"></ion-radio>
                </ion-item>
              </ion-radio-group>
              <!--<div class="ion-padding-horizontal errormess" *ngFor="let validation of validationMessages.gender">-->
              <!--<div class="error-message"-->
              <!--*ngIf="changeuser.get('gender').hasError(validation.type) && (changeuser.get('gender').dirty || changeuser.get('gender').touched)">-->
              <!--<ion-text color="primary">{{ validation.message }}</ion-text>-->
              <!--</div>-->
              <!--</div>-->
            </ion-col>
            <ion-col size="12" *ngIf="birthdayshow">
              <div class="order__box-title">Дата рождения</div>
              <ion-input formControlName="birthday" inputmode="date" type="date"></ion-input>
              <!--<div class="ion-padding-horizontal errormess" *ngFor="let validation of validationMessages.birthday">-->
              <!--<div class="error-message"-->
              <!--*ngIf="changeuser.get('birthday').hasError(validation.type) && (changeuser.get('birthday').dirty || changeuser.get('birthday').touched)">-->
              <!--<ion-text color="primary">{{ validation.message }}</ion-text>-->
              <!--</div>-->
              <!--</div>-->
            </ion-col>
            <ion-col size="12" *ngIf="birthdayshow || gendershow">
              <p class="terms">
                Указать дату рождения и пол можно только один раз.
              </p>
            </ion-col>
          </ion-row>

        </form>
      </div>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row *ngIf="!loadData">
        <ion-col size="12">
          <ion-button (click)="changeDataUser()" expand="block">Изменить данные</ion-button>
        </ion-col>
        <!--<ion-col size="6">  <ion-button (click)="goBack()" size="medium" color="secondary" expand="block"><ion-text color="dark" class="text_upper"><b>Отмена</b></ion-text></ion-button>-->
        <!--</ion-col>-->
      </ion-row>
      <ion-row *ngIf="loadData">
        <ion-progress-bar type="indeterminate" color="mainapp"></ion-progress-bar>
        <br>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
