.gridhome{
  padding: 0;
  height: 55px;
  align-items: center;
  background: var(--banner-categories-bg);
  display: flex;
  max-height: 55px;
  margin-bottom: -1px;
  width: 100%;
}
.searchbar .item-inner{
  border: none;
}
ion-item.searchbar::part(native) .item-inner{
  border: none;
}
:host{
  --inner-border-width: 0;
}


ion-item.searchbar::part(native) {
  border: none;
}
.item-interactive.ion-valid {
  --highlight-background: --main-color!important;
}
ion-list {
  background: var(--banner-categories-bg)!important;
}
.bord_yel{
  border-bottom: 3px solid var(--product-active-border);
}
ion-card-subtitle{
  text-transform: none;
}
.truncate-text-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-transform: none;
  min-height: 40px;
}
.gridhome ion-col{
  padding-top: 0;
  padding-bottom: 0;
}
ion-slides {
  background-color: var(--banner-categories-bg);
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.slider_img img{
  object-fit: cover;
  border-radius: 10px;
}
.segment_wrapper{
  margin-right: 10px;
}
.segment_wrapper,ion-segment-button {
  height: 34px;
  background: var(--category-bg);
  border-radius: 10px;
}
ion-segment{
  padding-top: 11px;
  height: 64px;
}
ion-segment::-webkit-scrollbar { width: 0 !important }

ion-segment-button {
  min-height: auto;
  min-width: auto;
  --padding-start: 15px;
  --padding-end: 15px;
  text-transform: none;
  color: var(--category-text);
  //overflow: hidden;
}
.segment-button-indicator {
 opacity: 0;
}

ion-segment-button ion-label{
  margin: 0;
}
ion-card {
  box-shadow: none;
  margin: 3px;
  border-radius: 10px;
  background-color: var(--product-bg);
  color: var(--product-name-price);
}
ion-card img{
  //border-bottom: 1px solid #d8dadd;
  height: 120px;
  object-fit: cover;
  width: 100%;
}
ion-list ion-icon{
  margin: 0 10px 0 0;
}
ion-list ion-item span{
  color: var(--main-color);
}
ion-list ion-item::part(native){
  background-color: var(--banner-categories-bg);
}
ion-card ion-item{
  background-color: var(--product-bg);
  color: var(--product-name-price);
}
ion-card-header{
  padding: 5px 10px 10px 10px;
}
ion-card-subtitle{
  color: var(--product-name-price);
  //font-weight: bold;
  font-size: 16px;
}

ion-card-subtitle b{
  font-weight: 600;
}
ion-card-subtitle span{
  font-weight: normal;

  font-size: 14px;
  color: var(--body-text);
  white-space: nowrap;
}
.price-container {
  width: 100%;
}
ion-card-content{
  padding: 0 10px 15px 10px;
}

.priceprod{
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  width: 100%;
  color: var(--category-text);
  background-color: var(--category-bg);
  margin: 0;
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-segment-button::part(indicator-background) {
  background: transparent;
}
.segment-button-checked{
  color: var(--category-active-text);
  background-color: var(--category-active-bg);
  z-index: 10;
}
ion-item.searchbar::part(native) {
  background: var(--banner-categories-bg);
  padding-bottom: 18px;
  margin-bottom: -5px;
}
ion-item.cat_name::part(native) {
  background: transparent;
  color: var(--product-box-name);
  font-size: 18px;
}

.countprod sup {
  background-color: var(--product-box-count-bg);
  color: var(--product-box-cont-text);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 13px;
  top: -10px;
  right: -3px;
}

.hideclass{
  display: none;
}
.card_dop {
  padding: 5px 10px;
  max-height: 255px;

}
.upsell__items {
  max-height: 225px;
  overflow: auto;
}
.upsell__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 5px;
  margin-bottom: 10px;
}
.upsell__item-img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 0;
  margin-bottom: 5px;
  width: 65px;
  height: 40px;
}
.upsell__item-img img {
  border-radius: 7px;
  -o-object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upsell__item-name {
  font-size: 12px;
  color: var(--product-name-price);
  font-weight: 600;
  margin-bottom: 7px;
}
.upsell__item-price {
  font-size: 12px;
  width: 50px;
}
.upsell-prod__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.upsell-prod__head .icon-close {
  position: relative;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
}
.icon-close:before, .icon-close:after {
  content: "";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 2px;
  width: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: var(--icon-close);
}
.icon-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
