.active {
  display: block;
}

.inactive {
  display: none;
}
.accordion__item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 15px;
}
.accordion__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  font-size: 12px;
  min-height: 50px;
  padding: 0 10px;
  border-radius: 2px;
  //border-top-right-radius: 4px;
  //border-bottom-left-radius: 4px;
  //border-bottom-right-radius: 4px;
  background-color: var(--block-wrapper-bg);
  border: 1px solid var(--block-head-border);
  color: var(--title);
}
.accordion__head.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion__content{
  //border: 1px solid #d8dadd;
  //border-top: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.order__list {
  padding-left: 0;
  border-bottom: 1px solid var(--block-head-border);
  border-top: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.order__list li {
  font-size: 12px;

  border: 1px solid var(--block-head-border);
}
.order__list li>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.txtwhite{
  color: var(--text-content-color);
}
.dish__name {
  color: var(--main-color);
  padding: 10px;
  line-height: 1.2;
  width: calc(100% - 140px);
}
.dish__count {
  flex-shrink: 0;

  //text-align: center;
  //margin-left: auto;
}
.dish__price.price, .dish__count {
  border-left: 1px solid var(--block-head-border);
  width: 70px;
  padding: 20px 0;
  text-align: center;
}
